body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.border {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px grey;
}

.LED {
    width: 80%;
    border: 2px solid black;
    height: 150px;
    margin: auto;
    border-radius: 10px;
    box-shadow: inset 0px 10px 0px 0px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operators-container {
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    ;
}

.operators-button {
    display: flex;
    border: 1px solid black;
    box-shadow: 5px 5px darkgrey;
    border-radius: 5px;
    width: 20%;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.operators-button:hover {
    background-color: orange;
}

.border-calc {
    width: 330px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    margin: auto;
}

.circle-button {
    border: 2px solid black;
    box-shadow: 5px 5px darkgrey;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-items: center;
    margin: auto;

}

.circle-button:hover {
    background-color: orange;
}

.circle-button>p {
    display: flex;
    /* border: 1px solid white; */
    margin: auto;
    font-size: 2em;
}